<!DOCTYPE html>
<html>
<body>

<h2>Email Compose Form</h2>

<form action="/send">
  <label for="to">To:</label><br>
  <input type="text" id="to" name="to" value="805.bluebell@gmail.com"><br>
  <label for="subject">Subject:</label><br>
  <input type="text" id="subject" name="subject" value="Subject"><br><br>
  
  <label for="msg">Message:</label><br>
  <input type="text" id="msg" name="msg" value="Message"><br>

  <input type="submit" value="Submit">
</form> 

<p>Click send to submit Email</p>

</body>
</html>
